body{
    margin:0;
    font-family:'Segoe UI', sans-serif;
    background: radial-gradient(circle at center, #2b0033, #000);
    color:white;
    text-align:center;
    overflow-x:hidden;
}

/* Corazones flotando */
.corazones::before{
    content:"❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️";
    position:fixed;
    width:100%;
    top:100%;
    left:0;
    font-size:20px;
    opacity:0.2;
    animation: flotar 15s linear infinite;
}

@keyframes flotar{
    from{transform:translateY(0);}
    to{transform:translateY(-120vh);}
}

.pantalla-inicial{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    animation: fadeIn 2s ease;
}

input{
    padding:12px;
    border:none;
    border-radius:20px;
    margin-top:15px;
    width:250px;
    text-align:center;
}

button{
    margin-top:15px;
    padding:10px 25px;
    border:none;
    border-radius:20px;
    background:#ff2e63;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#ff4f81;
    transform:scale(1.05);
}

.contenido{
    display:none;
    padding:40px 20px;
    animation: fadeIn 2s ease;
}

.galeria img{
    width:80%;
    max-width:300px;
    margin:15px;
    border-radius:20px;
    box-shadow:0 0 25px rgba(255,0,120,0.7);
    opacity:0;
    transform:translateY(20px);
    animation: aparecer 1.5s forwards;
}

.galeria img:nth-child(1){animation-delay:2s;}
.galeria img:nth-child(2){animation-delay:3s;}
.galeria img:nth-child(3){animation-delay:4s;}
.galeria img:nth-child(4){animation-delay:5s;}

.final-btn{
    margin-top:40px;
    background:#7928ca;
}

.extra{
    margin-top:25px;
    font-size:22px;
    opacity:0;
    transition:1.5s;
}

@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes aparecer{
    to{
        opacity:1;
        transform:translateY(0);
    }
}
